In [55]:
import os.path

pdf_dir = '../data/dag_results/pdf_processing/walbana_kyh_Shorov.pdf/rslt_collected_3_from_oshamaho_new_font_0.193_4395_18400/'

In [56]:
with open(os.path.join(pdf_dir, 'all.txt'), 'r') as f:
    text = f.read()

In [57]:
from dags.src.spell_checker.checker import create_spell_checker_service

spell_checker = create_spell_checker_service()

In [58]:
import nltk

spell_result_df = spell_checker.predict(nltk.word_tokenize(text), return_df=True)

100%|██████████| 23307/23307 [00:03<00:00, 7055.65it/s]

In [59]:
import re
from dags.src.lang_compare import get_book_df

ocr_rslt_df = get_book_df(os.path.join(pdf_dir, 'tsvs'))
ocr_rslt_df.fillna('', inplace=True)

def clean_char(word):
    return re.sub(r"[-.:;,!?)(]", r"", word)

ocr_rslt_df['word'] = ocr_rslt_df['text'].apply(clean_char)

In [60]:
ocr_rslt_df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,page,word
0,1,1,0,0,0,0,0,0,1479,2347,-1.000000,,page-001,
1,2,1,1,0,0,0,0,0,1479,2347,-1.000000,,page-001,
2,3,1,1,1,0,0,0,0,1479,2347,-1.000000,,page-001,
3,4,1,1,1,1,0,0,0,1479,2347,-1.000000,,page-001,
4,5,1,1,1,1,1,0,0,1479,2347,95.000000,,page-001,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85773,5,1,11,1,2,2,570,1820,20,19,91.488052,г.,page-285,г
85774,5,1,11,1,2,3,604,1812,193,34,92.823219,"Ставрополь,",page-285,Ставрополь
85775,5,1,11,1,2,4,810,1820,41,26,92.530495,ул.,page-285,ул
85776,5,1,11,1,2,5,865,1812,155,33,92.512817,"Спартака,",page-285,Спартака
85777,5,1,11,1,2,6,1034,1812,22,26,95.860077,8.,page-285,8

In [61]:
import pandas as pd

result_df = pd.merge(ocr_rslt_df, spell_result_df, how='left', left_on='word', right_on='word')

In [62]:
result_df.fillna('', inplace=True)
result_df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,page,word,calc,freq
0,1,1,0,0,0,0,0,0,1479,2347,-1.000000,,page-001,,,
1,2,1,1,0,0,0,0,0,1479,2347,-1.000000,,page-001,,,
2,3,1,1,1,0,0,0,0,1479,2347,-1.000000,,page-001,,,
3,4,1,1,1,1,0,0,0,1479,2347,-1.000000,,page-001,,,
4,5,1,1,1,1,1,0,0,1479,2347,95.000000,,page-001,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85773,5,1,11,1,2,2,570,1820,20,19,91.488052,г.,page-285,г,,
85774,5,1,11,1,2,3,604,1812,193,34,92.823219,"Ставрополь,",page-285,Ставрополь,1.0,1.0
85775,5,1,11,1,2,4,810,1820,41,26,92.530495,ул.,page-285,ул,0.0,1.0
85776,5,1,11,1,2,5,865,1812,155,33,92.512817,"Спартака,",page-285,Спартака,0.0,1.0
85777,5,1,11,1,2,6,1034,1812,22,26,95.860077,8.,page-285,8,1.0,5.0

In [66]:
# result_df[result_df['calc']==0]
result_df[result_df['conf'] < 90][result_df['conf'] > 0]

/var/folders/1_/ss0tzds95cjf19d6s8b1cdf80000gn/T/ipykernel_35150/3704279818.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result_df[result_df['conf'] < 90][result_df['conf'] > 0]

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,page,word,calc,freq
14,5,1,1,1,1,1,400,195,275,90,28.542713,МIорэ,page-003,МIорэ,0.0,1.0
15,5,1,1,1,1,2,710,196,378,86,73.600250,»Iхьллэд,page-003,»Iхьллэд,,
19,5,1,2,1,1,1,270,656,934,143,40.951744,УЭЛьЬАНЭ,page-003,УЭЛьЬАНЭ,0.0,1.0
21,5,1,2,1,2,1,436,864,611,142,62.630024,КIыхь,page-003,КIыхь,1.0,1.0
25,5,1,3,1,1,1,612,1171,249,72,43.194675,ЭIовостаэр,page-003,ЭIовостаэр,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85736,5,1,9,1,4,6,700,1505,115,25,49.559631,кр.-отт.,page-285,кротт,,
85738,5,1,9,1,4,8,908,1498,122,28,56.225800,Уч.-изд.,page-285,Учизд,,
85746,5,1,9,1,5,5,871,1540,43,24,47.960529,96,page-285,96,1.0,3.0
85750,5,1,10,1,1,1,525,1616,67,26,84.576256,РГУУ,page-285,РГУУ,0.0,1.0
85768,5,1,11,1,1,2,370,1775,492,33,86.224937,«Издательско-полиграфическая,page-285,«Издательскополиграфическая,,